{% macro text_box(title) %}
    <div id="text-box" class="bg-white rounded shadow-sm p-4">
        <h1 class="fw-semibold mb-3">{{ title }}</h1>
        <p>
            Flask Arch is a template repository designed to streamline the development process of 
            small and medium-scale Flask applications. It provides a set of essential technologies 
            widely recognized by the community, including SQLAlchemy, Login, BCrypt, SocketIO, and 
            CSRF Protect.
        </p>
    </div>
{% endmacro %}