{% extends template('_base') %}
{% from template('__macros') import text_box %}


{% block title %}Home{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <main class="container d-flex align-items-center py-min">
        <div class="w-100">
            <div id="fda" class="d-flex align-items-center justify-content-center mb-3">
                <img class="me-3" src="{{ url_for('static', filename='images/fda.png') }}">
                <div>
                    <h1 class="fw-semibold">Flask Arch</h1>
                    <p>Modular Architecture</p>
                </div>
            </div>
            {{ text_box(title='Welcome to Flask Arch!') }}
        </div>
    </main>
{% endblock %}
