{% extends template('_base') %}

{% block title %}Login{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <main class="container d-flex py-min">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div id="form-content" class="d-flex align-items-center justify-content-center bg-white shadow-sm p-5 px-min">
                <img class="me-5" src="{{ url_for('static', filename='images/fda.png') }}">
                <form action="{{ url_for('home.index') }}" method="get">
                    {{ form.csrf_token() }}
                    <div class="mb-4">
                        {{ form.username(
                            class='form-control py-2 rounded-0 border-0 border-bottom shadow-none', 
                            placeholder='Username'
                        ) }}
                    </div>
                    <div class="mb-4">
                        {{ form.password(
                            class='form-control py-2 rounded-0 border-0 border-bottom shadow-none', 
                            placeholder='Password'
                        ) }}
                        <div class="form-text">We'll never share your password with anyone else.</div>
                    </div>
                    {{ form.submit(class='btn fw-semibold text-white text-uppercase py-2 border-0 w-100') }}
                </form>
            </div>
        </div>
    </main>
{% endblock %}