{% extends 'layouts/page.html.j2' %}
{% import 'common/components/footer.html.j2' as footer %}
{% import 'pages/home/components/text-box.html.j2' as text_box %}


{% block title %}Início{% endblock %}

{% block content %}
    <main class="container d-flex align-items-center">
        <div class="w-100">
            <div id="fda" class="d-flex align-items-center justify-content-center">
                <img class="me-3" src="{{ url_for('static', filename='images/fda.png') }}">
                <div>
                    <h1 class="fw-semibold">FDA</h1>
                    <p>Flask Definitive Arch.</p>
                </div>
            </div>
            <div class="mb-3">
                {{ 
                    text_box.template({
                        'title': 'Welcome to FDA!',
                        'text': '...'
                    })
                }}
            </div>
            {{ footer.template() }}
        </div>
    </main>
{% endblock %}

{% block style %}
    <style>
        main { 
            min-height: 100vh;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }

        div#fda {
            margin-bottom: 2.25rem;

            & img { width: 80px; }

            & h1 { color: #459F77; }

            & p { color: #54696F; }
        }

        @media screen and (max-width: 500px) {
            main {
                padding-top: 2.25rem;
                padding-bottom: 2.25rem;
            }
        }
    </style>
    {{ text_box.style() }}
    {{ footer.style() }}
{% endblock %}

{% block script %}
{% endblock %}