{% macro template(props) %}
    <div id="text-box" class="p-4 bg-white rounded shadow-sm">
        <h1 class="fw-semibold mb-3">{{ props.title }}</h1>
        <p>
            The Flask Definitive Architecture is a concise template repository that embodies Flask best 
            practices, utilizing a modular division for the backend and incorporating frontend components 
            aligned with Bootstrap.
        </p>
        <hr class="my-3">
        <p>
            You can begin coding by adhering to the template structure. You have the choice to include new 
            pages using the layout located at <kbd>resources/templates/layouts/page.html.j2</kbd> or explore 
            the features on your own by navigating through the files.
        </p>
    </div>
{% endmacro %}

{% macro style() %}
    <style>
        div#text-box {
            & h1 { 
                font-size: 25px; 
            }

            & p.text-secondary { 
                font-size: var(--medium-size); 
            }
        }
    </style>
{% endmacro %}

{% macro script() %}{% endmacro %}