<noscript class="d-flex align-items-center justify-content-center px-2">
    <div class="noscript-overlay bg-white rounded shadow">
        <p>To access the page's features properly, <b>enable script execution</b> in your browser.</p>
    </div>
</noscript>