{% extends layout('page') %}


{% block title %}{{ error.code }}{% endblock %}

{% block content %}
    <main class="container d-flex align-items-center justify-content-center">
        <div id="error" class="shadow-lg">
            <div class="bg-white px-3 py-1">
                <span id="code" class="fw-semibold">_{{ error.code }}</span>
            </div>
            <div class="bg-dark p-3">
                <span id="description" class="fw-light">{{ error.description }}</span>
            </div>
        </div>
    </main>
{% endblock %}

{% block style %}
    <style>
        #error {
            & span#code {
                color: var(--secondary-color);
                
            }

            & span#description {
                color: white;
                font-size: small;
            }
        }
    </style>
{% endblock %}